.sd-container {
    min-height: 100vh;
    width: 100vw;
    max-width: 500px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #433B55, #1E183E);
}

.sd-header {
    background-color: #1D2026;
    width: 100%;
    max-width: 500px;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sd-image {
    background-color: #1D2026;
    width: 100%;
    max-width: 500px;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sd-details {
    background-color: #1D2026;
    width: 100%;
    max-width: 500px;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sd-whatsapp {
    background-color: #1D2026;
    width: 100%;
    max-width: 500px;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}