.sd-container {
    min-height: 100vh;
    width: 100vw;
    max-width: 500px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #433B55, #1E183E);
}

.sd-header {
    background-color: #1D2026;
    color: rgb(255, 255, 255);
    width: 100%;
    max-width: 500px;
    height: 4.5em;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap :1em;
}

.larrow-button{
    background-color: #433B55;
    height: 2.5em;
    width:2.5em;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: left;
    border-radius: 50%;
    border:none;
    cursor: pointer;
}

.sd-image-container {
    margin: 1em 1em;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.sd-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 80% 100%, 75% 90%, 25% 90%, 20% 100%);
    
}

.sd-lastupdated {
    width: fit-content;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    bottom: 0px;
}
.sd-lastupdated-clock {
    height: 1.5em;
    width: 1.5em;
}

.sd-lastupdated-text {
    margin: 0px;
    font-size: 1.2em;
}

.sd-details {
    margin: 1em;
    padding: 1em 1.5em;
    background-color: #1D2026;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sd-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.sd-details-header-info {
    display: flex;
    flex-direction: column;
}

.sd-details-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

.sd-details-loc {
    font-size: 1em;
    color: #9EADC3;
    display: flex;
    align-items: center;
}

.sd-details-loc-symbol {
    height: 1.5em;
    margin-right: 0.3em;

}

.sd-details-open-closed {
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0.2em 0.5em;
}

.sd-details-status-circle {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    margin-right: 0.5em;
    display: inline-block;
}

.sd-details-status-text {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}

.sd-details-about {
    display: flex;
    flex-direction: column;
}

.sd-details-about-header {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px;
}

.sd-details-about-text {
    font-size: 1em;
    color: #9EADC3;
    line-height: 1.5em;
    margin-top: 0.3em;
}

.sd-whatsapp {
    background-color: #1D2026;
    width: 100%;
    max-width: 500px;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}