.sd-container {
    min-height: 100vh;
    width: 100vw;
    max-width: 500px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #433B55, #1E183E);
}

.sd-header {
    background-color: #1D2026;
    color: rgb(255, 255, 255);
    width: 100%;
    max-width: 500px;
    height: 4.5em;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap :1em;
}

.larrow-button{
    background-color: #433B55;
    height: 2.5em;
    width:2.5em;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: left;
    border-radius: 50%;
    border:none;
    cursor: pointer;
}

.sd-image-container {
    margin: 1em 1em;
    color: white;
    position: relative;
}

.sd-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 80% 100%, 80% 90%, 20% 90%, 20% 100%);
    
}

.sd-lastupdated {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    bottom: 0px;
}
.sd-clock {
    height: 1.5em;
    width: 1.5em;
}

.sd-details {
    margin: 1em;
    background-color: #1D2026;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sd-whatsapp {
    background-color: #1D2026;
    width: 100%;
    max-width: 500px;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}